" General settings
let mapleader=" "
set scrolloff=5
set incsearch
set relativenumber
set clipboard=unnamed
set colorfulmodewidget
map Q gq

" Add custom plugins
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'

" Common bindings
map <leader>e :NERDTreeToggle<CR>
map <leader>t <Action>(ActivateTerminalToolWindow)

" Split view bindings
map <leader>sv <Action>(SplitVertically)
map <leader>sh <Action>(SplitHorizontally)

" Search bindings (ripgrep like functionality)
map <leader>ff <Action>(SearchEverywhere)
map <leader>fs <Action>(FindInPath)

" Git bindings
map <leader>gf <Action>(Git.Fetch)
map <leader>gu <Action>(Vcs.UpdateProject)
map <leader>gb <Action>(Git.Branches)
map <leader>gc <Action>(CheckinProject)
map <leader>gp <Action>(Vcs.Push)