" General settings
let mapleader=" "
set scrolloff=5
set incsearch
set relativenumber
set clipboard=unnamed
set colorfulmodewidget
map Q gq

" Add custom plugins
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'

" Common bindings
map <leader>e :NERDTreeToggle<CR>
map <leader>t <Action>(ActivateTerminalToolWindow)

" Split view bindings
map <leader>sv <Action>(SplitVertically) "[S]plit[V]ertical
map <leader>sh <Action>(SplitHorizontally) "[S]split[H]orizontally

" Search bindings (ripgrep like functionality)
map <leader>ff <Action>(SearchEverywhere) "[F]ind[F]iles
map <leader>fs <Action>(FindInPath) "[F]ind[S]tring

" Git bindings
map <leader>gf <Action>(Git.Fetch) "[G]it[F]etch
map <leader>gu <Action>(Vcs.UpdateProject) "[G]it[U]pdate (like recursive pull for all sub repos)
map <leader>gb <Action>(Git.Branches) " [G]it[B]ranches
map <leader>gc <Action>(CheckinProject) " [G]it[C]heckin
map <leader>gp <Action>(Vcs.Push) " [G]it[P]ush